<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>home</title>
	<link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-default/index.css">
	<!-- <link rel="stylesheet" href="../dist/css/home.css"> -->
</head>
<body>
	<h1>home pages</h1>
	<div id="app">
		<ul>
			<li v-for="item in list"><a href="#">{{item}}</a></li>
		</ul>		
	</div>
</body>
<script type="text/javascript" src="../dist/js/vendor.bundle.js"></script>
<script type="text/javascript" src="../dist/js/home.bundle.js"></script>
</html>